ETH_PRIVATE_KEY=<64 hex chars, no 0x prefix>
ETH_RPC_URL=<http(s) URL to Ethereum RPC e.g. https://ethereum-holesky.core.chainstack.com/<apiKey>>
NORI_ETH_TOKEN_BRIDGE_ADDRESS=<0x-prefixed 40 hex chars — deployed NoriTokenBridge address on Ethereum>
NORI_MINA_TOKEN_BRIDGE_ADDRESS=<Base58 — deployed NoriTokenBridge address on Mina>
NORI_MINA_TOKEN_BASE_ADDRESS=<Base58 — deployed FungibleToken address on Mina>
MINA_RPC_NETWORK_URL=<http(s) URL to Mina node GraphQL endpoint e.g. https://api.minascan.io/node/devnet/v1/graphql>
NORI_PCS_URL=<http(s) URL to Nori proof conversion service e.g. https://pcs.nori.it.com>
MINA_SENDER_PRIVATE_KEY=<Base58 — private key of the Mina address for which you wish to claim nETH>
