node_modules/
.env
.env.nori-eth-processor
.env.nori-eth-processor*
build
.env.nori-eth-token-bridge
.env.nori-token-bridge
.env.nori-mina-token-bridge

.env.nori-eth-token-bridge*
.env.nori-token-bridge*
.env.nori-mina-token-bridge*
tsconfig.tsbuildinfo